*{
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Poppins', sans-serif;
}
.cont{
    height: 45vh;
    background-color: rgb(73, 113, 243);

}

.nav{
    position: fixed;
    height: 80%;
    width: 250px;
    list-style: none;
    background-color: rgb(250, 250, 250);
    margin: 20px;
    padding: 0;
    border-radius: 10px;
}


.sidenav{
    margin: 20px;
    margin-left: 10px;
}
.sidenav i{
    margin:10px;
}

p img{
    position:relative;
    margin-top: 20px;
    padding: 10px;
    height: 50px;
    width: 200px;
    border-bottom: 2px solid black;
}

  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #000000;
  }

  /* Add an active class to the active dropdown button */
  .active {
    color: rgb(0, 0, 0);
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    margin-left: 38px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .container{
    position: absolute;
    margin: 50px 50px 100px 400px;
    height: 350px;
    width: 100vh;
    border-radius: 20px;
    background-color: rgb(229, 230, 240);
    padding: 20px;
  }
  .profile input{
    width: 250px;
    height: 40px;
    background: #ffffff;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    }
  .profile label{
    font-size: 1.3rem;
	justify-content: center;
	display: flex;
  }
  .btn{
    display: flex;

}
.submit{
    height: 35px;
    color:  rgb(73, 113, 243);
    background-color: white;
    border-color: rgb(73, 113, 243);
    border-radius: 10px;
    margin: 15px 10px 10px 160px;
    padding: 5px 10px 5px 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Poppins', sans-serif;
}

.submit:hover, .btn button:hover{
    transition-duration: 500ms;
    color:#fff;
    background-color: rgb(73, 113, 243) ;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn .submit a{
  color:  rgb(73, 113, 243);
}
.btn .submit a:hover{
  color:#fff;
}