*{
    margin:0;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Poppins', sans-serif;
    }

.cont{
    height: 45vh;
    background-color: rgb(73, 113, 243);
    z-index: -1;
}

.nav{
    position: fixed;
    height: 80%;
    width: 250px;
    list-style: none;
    background-color: rgb(250, 250, 250);
    margin: 20px;
    padding: 0;
    border-radius: 10px;
}


.sidenav{
    margin: 20px;
    margin-left: 10px;
}
.sidenav i{
    margin:10px;
}

p img{
    position:relative;
    margin-top: 20px;
    padding: 10px;
    height: 50px;
    width: 200px;
    border-bottom: 2px solid black;
}

  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Poppins', sans-serif;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #000000;
  }

  /* Add an active class to the active dropdown button */
  .active {
    color: rgb(0, 0, 0);
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    margin-left: 38px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.navbar{
  display: flex;
}

.navbar .text{
    margin-top: 15px;
    margin-left: 980px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    padding: 10px;  
    outline: none;

  }

.navbar a{
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    padding: 2.5px;
    margin-top: 12px;
}
.navbar a:hover, .navbar i:hover{
  font-size: 1.25rem;
}
.navbar a i{
    margin: 8px;
}
.navbar button{
  margin: 10px;
  display: block;
  border: none;
  background: none;
}
.navbar .dropdown-content{
  display: flex;
  flex-direction: column;
}
.dropdown-cont {
  display: none;
  position: absolute;
  margin: 50px 1180px;
  min-width: 160px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-cont a{
  float: none;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 100;
}
.dropdown-cont a:hover {
  background-color: #ddd;
}


.navbar i{
    color: white;
    font-size: 1.2rem;
    margin: 10px;
}
.high-container{
  display: flex;
  margin-left: 280px;
}
.box{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 220px;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  transition: box-shadow 0.3s ease-in-out;
}
.box:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* new box shadow on hover */
}
.box p{
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Poppins', sans-serif;
}
.box i{
  position: absolute;
  margin-left: 170px;
}

.container{
  margin-left:280px;
  display: flex;
  height: 60vh;
}

.container .box_graph{
  background-color: rgb(238, 238, 238);
  height: 350px;
  width: 600px;
  margin: 5px;
  border-radius: 20px;
  padding: 20px;
 
}

.container .box_img {
  height: 350px;
  width: 410px;
  }
.inside_text h3 {
  position: absolute;
  z-index: 1;
  color: #fff;
  margin: 230px 100px;
  }

  .inside_text p{
    position: absolute;
    z-index: 1;
    color: #fff;
    margin: 270px 50px;

  }
  .active {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
.box_img img{
  height: 390px;
  width: 400px;
  border-radius: 20px;
  margin: 5px;
  position: absolute;
}

.team_container{
  display: flex;
  margin-top: 10px;
  margin-left:285px;
}
.members_container{
  height: 400px;
  width: 328px;
  border-radius: 20px;
  background-color: rgb(223, 223, 223);
  padding: 10px;
}
.members_name{
  display: flex;
  margin: 15px 0;

}
.members_name img{
  height: 50px;
  width: 50px;
  border-radius: 20px;
  margin: 0 20px;
}
.name_status p{
  margin: 5px 10px;
  align-items: center;
}
.members_name input{
  height: 35px;
  color:  rgb(73, 113, 243);
  background-color: white;
  border-color: rgb(73, 113, 243);
  border-radius: 10px;
  margin-top: 10px;
  margin-left:30px;
  padding: 5px 10px 5px 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Poppins', sans-serif;
  

}

.members_name input:hover{
  transition-duration: 500ms;
   padding: 10px;
   cursor: pointer;
}
.list{
  height: 400px;
  width: 320px;
  background-color: #d6d1d1;
  border-radius: 20px;
  margin: 0 10px;
  padding: 10px;
}
.list_cont{
  display: flex;
}
.list_column{
  margin: 14px;
}
.list_column p{
  margin: 6px;
}

.list_cont .body{
  margin-left: 100px;
}
.checkboxOverride {
  margin: 30px 10px;
  position: relative;
  width: 25px;
}
.checkboxOverride input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.checkboxOverride label {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #DDDDDD;
  cursor: pointer;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
  border-radius: 5px;
}
.checkboxOverride label:after {
  border-style: none none solid solid;
  content: "";
  height: 5px;
  left: 6px;
  opacity: 0;
  position: absolute;
  top: 7px;
  -ms-transform:rotate(-45deg); /* IE 9 */
  -webkit-transform:rotate(-45deg); /* Safari and Chrome */
  transform:rotate(-45deg);
  width: 10px;
}
.progress{
  height: 400px;
  width: 320px;
  border-radius: 20px;
  background-color: rgb(192, 192, 192);
  padding: 10px;
}
.progress_track{
  display: flex;
  margin: 22px
}
.progress_status{
  flex-direction: column;
  margin-left: 60px;
}
.progress_track img{
  height: 50px;
  width: 60px;
  border-radius: 20px;
  margin: 0 20px;
}